beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
greenlet==2.0.2
idna==3.4
mysql-connector-python==8.0.33
protobuf==3.20.3
requests==2.31.0
soupsieve==2.4.1
SQLAlchemy==2.0.15
typing_extensions==4.5.0
urllib3==2.0.2
jupyter==1.0.0
jupyterlab==3.5.1
flaml==1.0.14
scikit-learn==1.2.0
numpy==1.23.5
pandas==2.0.1
matplotlib==3.6.2
seaborn==0.12.1
pickle-mixin==1.0.2
joblib==1.2.0
tqdm==4.65.0
mimesis==10.0.0
regex==2023.5.5
python-dotenv==1.0.0
colorama==0.4.6
